doctype html
html(lang="en")
 head
  title Change Password
 body
  h1 Change Password
  div
   div
    p Use the form below to change your password. Your password cannot be the same as your username.
  form(method="post", id="passwordForm")
   div
    input(type="password", name="password1", id="password1", placeholder="New Password", autocomplete="off")
   div
    input(type="password", name="password2", id="password2", placeholder="Repeat Password", autocomplete="off")
   div
    input(type="submit", value="Change Password")